* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:22px;
}

body {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:rgb(235, 242, 254);
}

.app_header {
	padding:20px;
	height:100px;
	width:100%;
	display:flex;
	align-items:center;
	z-index:1;
	background-color:rgb(66, 116, 184)
}

.app_header_logo_img {
	width:300px;
}

.app_header_links_div, .app_header_links_div > * {
	margin-left:auto;
	color:white;
	text-decoration: none;
}

.app_content {
	flex:1;
}

.content_div {
	width:900px;
	background-color:white;
}

.btn_generate {
	height:75px;
	width:225px;
	background-color:green;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
}

.btn_recover {
	
}

.btn:hover {
	cursor: pointer;
}