* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:22px;
}

body {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:rgb(235, 242, 254);
	min-width:971px;
	-webkit-text-size-adjust: 100%;
}

ol {
   list-style-position: inside;
}

.app_header {
	padding:20px;
	width:100%;
	background-color:rgb(66, 116, 184);
}

.app_header_top {
	width:100%;
	display:flex;
	align-items:center;
}

.app_header_warning {
	font-weight:bold;
	color:#ff3333;
	padding:20px;
	text-align:center;
	flex:1;
}

.app_header_logo_img {
	width:275px;
}

.app_header_logo_img:hover {
	cursor:pointer;
}

.app_header_links_div, .app_header_links_div * {
	margin-left:auto;
	color:white;
	text-decoration: none;
	display:flex;
	align-items:center;
}

.link_div {
	padding:10px;
}

.link_div:hover {
	cursor:pointer;
	background-color:rgb(93, 159, 252);
}

.intro_div {
	padding-top:20px;
	width:100%;
	background-color:rgb(66, 116, 184);
	display:flex;
	flex-direction:column;
	align-items:center;
	position:relative;
}

.slider_container {
	padding: 0;
	width: 100%;
	background-color:rgb(66, 116, 184);
}

.slide {
	background-color:rgb(66, 116, 184);
}

.slide_content {
	display:flex;
}

.slide_img {
	height:225px;
}

.slide_label {
	font-size:38px;
	line-height:50px;
	text-align: center;
	color: white;
	text-align:left;
	margin-left:15px;
}

.cta_div {
	position:absolute;
	bottom:0px;
	right:0px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.btn_start_generate {
	height:65px;
	width:225px;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:10px;
	background-color:rgb(121, 217, 25);
}

.btn_start_generate:hover {
	background-color:rgb(135, 230, 37);
}

.btn_start_generate:active {
	background-color:rgb(100, 192, 20);
}

.btn_recover {
	color:white;
}

.btn:hover {
	cursor: pointer;
}

.app_content {
	flex:1;
	width:875px;
}

.page_div {
	width:100%;
	background-color:white;
	padding:25px;
	min-height:700px;
}

input[type='number'] {
	width:70px;
	text-align:center;
}

.question {
	font-size: 24px;
	margin-bottom:10px;
}

.answer * {
	font-size:18px;
	line-height:25px;
}

.answer {
	font-size:18px;
	line-height:25px;
	margin-bottom:30px;
}

.form_section_div {
	margin-bottom:20px;
}

.passphrase_input_div {
	margin:20px 20px 0px 20px;
	display:flex;
	flex-direction:column;
}

.passphrase_warn_div {
	color:red;
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.passphrase_checkbox_div {
	margin-left:auto;
}

.passphrase_input {
	width:100%;
}

.split_input_div {
	margin:20px 20px 0px 20px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.split_qr {
	width:100px;
	height:115x;
	margin:10px;
}

.split_lines_3 {
	width:100px;
	height:100px;
	margin:10px;
}

.split_num_div {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:10px;
	width:115px;
}

.split_num_label_top {
	text-align:center;
	padding-bottom:10px;
}

.split_num_label_bottom {
	text-align:center;
	padding-top:10px;
}

.split_lines_2 {
	width:100px;
	height:100px;
	margin:10px;
}

.split_min_div {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:10px;
	width:115px;
}

.split_min_label_top {
	text-align:center;
	padding-bottom:10px;
}

.split_min_label_bottom {
	text-align:center;
	padding-top:10px;
}


.currency_inputs_div:first-child {
	border-top:2px solid;
}

.currency_input_div {
	border-style:solid;
	border-width:0 2px 2px 2px;
	padding:10px;
	display:flex;
	align-items:center;
}

.currency_input_right_div {
	margin-left:auto;
	display:flex;
	align-items:center;
}

.trash_div {
	display:flex;
	align-items:center;
	justify-content:center;
}

.trash_div:hover {
	cursor:pointer;
}

.trash_img {
	height:30px;
}

.add_currency_div {
	text-align:center;
	margin:20px;
}

.add_currency_span {
	color:blue;
}

.add_currency_span:hover {
	cursor:pointer;
}

.generate_div {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.btn_generate {
	background-color:#007500;
	color:white;
	padding:20px;
	margin-bottom:25px;
}

.btn_generate:hover {
	cursor:pointer;
	background-color:#009100;
}

.btn_generate:active {
	background-color:#006000;
}

.home_div {
	padding-top:25px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.currency_row {
	display:flex;
}

.currency_row_item_major {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
}

.currency_row_item_major:hover {
	cursor:pointer;
	background-color:#EBEDEF;
}

.currency_row_item_minor {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
}

.currency_row_item_minor:hover {
	cursor:pointer;
	background-color:#EBEDEF;
}

.currency_row_logo_major {
	width:110px;
	height:110px;
	margin:15px;
}

.currency_row_logo_minor {
	width:75px;
	height:75px;
	margin:15px;
}

.currency_row_label_major {
	font-weight:bold;
	font-size:20px;
}

.currency_row_label_minor {
	font-size:20px;
}

.title {
	text-align: center;
	font-size:35px;
	margin-bottom:30px;
}

.value_left {
	display:flex;
	align-items:center;
	margin-top:-5px;
}

.value_right {
	display:flex;
	align-items:center;
	justify-content:flex-end;
	margin-top:-5px;
}

.value_qr {
	width:100px;
	height:100px;
	margin:10px
}

.value_label_value {
	
}

.value_left_logo_label {
	display:flex;
	align-items:center;
}

.value_right_logo_label {
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

.value_logo {
	height:35px;
	width:35px;
}

.value_label {
	padding-left:7px;
	font-weight:bold;
	font-size:20px;
}

.value_left_value {
	font-size:18px;
	font-family:monospace;
	word-break:break-all;
	padding-top:5px;
}

.value_right_value {
	font-size:18px;
	font-family:monospace;
	word-break:break-all;
	padding-top:5px;
	text-align:right;
}

.recover_page {
	width:100%;
	background-color:white;
	min-height:700px;
}

.recover_filler {
	height:100px;
}

.import_div {
	background-color:rgb(66, 116, 184);
}

.import_tabs_div {
	display:flex;
}

.import_tab_div {
	flex:1;
	text-align:center;
	padding:20px;
	color: white;
	font-size:24px;
}

.import_tab_div:hover {
	cursor:pointer;
}

.active_tab {
	background-color:rgb(93, 159, 252);
}

.export_header {
	background-color:rgb(66, 116, 184);
	height:100px;
	width:100%;
	padding:20px;
}

.export_buttons {
	display:flex;
	justify-content:center;
}

.export_checkboxes {
	display:flex;
	justify-content:center;
}

.export_piece_selection {
	display:flex;
	justify-content:center;
}

.export_content {
	background-color:white;
}

.export_button {
	background-color:white;
	color:black;
	margin:15px;
	padding:5px 20px 5px 20px;
	border:2px solid;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.export_button:hover {
	cursor:pointer;
	background-color:#EBEDEF;
}

.export_button:active {
	background-color:#ABB2B9;
}