* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:22px;
}

body {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:rgb(235, 242, 254);
}

.app_header {
	width:100%;
	background-color:rgb(66, 116, 184);
	min-width:1016px;
}

.app_header_top {
	padding:20px;
	width:100%;
	display:flex;
	align-items:center;
}

.app_header_logo_img {
	width:300px;
}

.app_header_links_div, .app_header_links_div > * {
	margin-left:auto;
	color:white;
	text-decoration: none;
}

.intro_div {
	padding-top:20px;
	width:100%;
	background-color:rgb(66, 116, 184);
	display:flex;
	flex-direction:column;
	align-items:center;
	height:300px;
	position:relative;
}

.slider_container {
	margin: 0 auto;
	padding: 0 40px 0 40px;
	width: 100%;
	background-color:rgb(66, 116, 184);
}

.slide {
	background-color:rgb(66, 116, 184);
}

.slide_content {
	display:flex;
}

.slide_img {
	width:250px;
	height:250px;
}

.slide_label {
	font-size:42px;
	line-height:55px;
	text-align: center;
	color: white;
	text-align:left;
	margin-left:20px;
}

.cta_div {
	position:absolute;
	bottom:30px;
	right:30px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.btn_start_generate {
	height:75px;
	width:225px;
	background-color:rgb(129, 215, 43);
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:10px;
}

.btn_recover {
	color:white;
}

.btn:hover {
	cursor: pointer;
}

.app_content {
	flex:1;
	width:850px;
}

.page_div {
	width:100%;
	background-color:white;
	padding:25px;
}

input[type='number'] {
	width:70px;
	text-align:center;
}

.question {
	font-weight: bold;
	font-size: 22px;
	margin-bottom:5px;
}

.answer {
	font-size:18px;
	line-height:30px;
	margin-bottom:30px;
}

.form_section_div {
	margin-bottom:20px;
}

.passphrase_input_div {
	margin:20px 20px 0px 20px;
	display:flex;
	flex-direction:column;
}

.passphrase_warn_div {
	color:red;
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.passphrase_checkbox_div {
	margin-left:auto;
}

.passphrase_input {
	width:100%;
}

.split_input_div {
	margin:20px 20px 0px 20px;
	display:flex;
	flex-direction:column;
}

.currency_inputs_div:first-child {
	border-top:2px solid;
}

.currency_input_div {
	border-style:solid;
	border-width:0 2px 2px 2px;
	padding:10px;
	display:flex;
	align-items:center;
}

.currency_input_right_div {
	margin-left:auto;
	display:flex;
	align-items:center;
}

.trash_div {
	display:flex;
	align-items:center;
	justify-content:center;
}

.trash_div:hover {
	cursor:pointer;
}

.trash_img {
	height:30px;
}

.add_currency_div {
	text-align:center;
	margin:20px;
}

.add_currency_span {
	color:blue;
}

.add_currency_span:hover {
	cursor:pointer;
}

.generate_div {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.btn_generate {
	background-color:#007500;
	color:white;
	padding:20px;
	margin-bottom:25px;
}

.btn_generate:hover {
	cursor:pointer;
	background-color:#009100;
}

.btn_generate:active {
	background-color:#006000;
}

.preview_piece_div {
	margin-top:25px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.home_div {
	padding-top:25px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.currency_row {
	display:flex;
}

.currency_row_item_major {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:20px;
}

.currency_row_item_minor {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:20px;
}

.currency_row_logo_major {
	width:110px;
	height:110px;
	margin:15px;
}

.currency_row_logo_minor {
	width:75px;
	height:75px;
	margin:15px;
}

.currency_row_label_major {
	font-weight:bold;
	font-size:20px;
}

.currency_row_label_minor {
	font-size:20px;
}