* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 22px;
}

body {
	margin: 0;
}

.app_body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 971px;
	-webkit-text-size-adjust: 100%;
	background-color: rgb(235, 242, 254);
}

ol {
	list-style-position: inside;
}

.app_header {
	width: 100%;
	background-color: rgb(17, 119, 184);
}

.app_header_top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.app_header_logo_img {
	width: 275px;
}

.app_header_logo_img:hover {
	cursor: pointer;
}

.app_header_links_div, .app_header_links_div * {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	color: white;
	text-decoration: none;
}

.link_div {
	padding: 10px 10px 10px 10px;
}

.link_div:hover {
	cursor: pointer;
	text-decoration: underline;
}

.intro_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	background-color: rgb(17, 119, 184);
	position: relative;
}

.slider_container {
	padding: 0;
	width: 100%;
	background-color: rgb(17, 119, 184);
}

.slide {
	background-color: rgb(17, 119, 184);
	padding: 0 20px 20px 20px;
}

.slide_content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
}

.slide_img {
	height: 225px;
}

.slide_label {
	font-size: 38px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-align: left;
	margin-left: 15px;
	max-width: 1200px;
}

.cta_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.home_generate_btn {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	height: 70px;
	width: 250px;
	color: white;
	font-size:24px;
	margin-bottom: 10px;
	background-color: rgb(55, 218, 44);
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.home_generate_btn:hover {
	background-color: rgb(60, 240, 60);
}

.home_generate_btn:active {
	background-color: rgb(40, 200, 40);
}

.btn_recover {
	color: white;
}

.btn_recover:hover {
	text-decoration: underline;
}

.btn:hover {
	cursor: pointer;
}

.app_content {
	width: 100%;
}

.content_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.page_div {
	width: 875px;
	background-color: white;
	padding: 25px;
}

.home_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
}

.home_label {
	font-size:24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.currency_row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
}

.currency_row_item_major {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	padding: 20px;
	width: 200px;
	font-weight:bold;
}

.currency_row_item_major:hover {
	cursor: pointer;
	background-color: #EBEDEF;
}

.currency_row_logo_major {
	width: 125px;
	height: 125px;
	margin-bottom: 15px;
}

.currency_row_label_major {
	font-size: 20px;
	white-space: nowrap;
}

.currency_row_item_minor {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	padding: 20px 0px 20px 0px;
	width: 180px;
}

.currency_row_item_minor:hover {
	cursor: pointer;
	background-color: #EBEDEF;
}

.currency_row_logo_minor {
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}

.currency_row_label_minor {
	font-size: 20px;
	white-space: nowrap;
}

.home_more_label {
	margin-top:10px;
	color:blue;
}

.home_more_label:hover {
	cursor: pointer;
	text-decoration:underline;
}

input[type='tel'] {
	width: 85px;
	text-align: center;
	border: 2.5px solid;
	padding: 5px;
}

input[type='checkbox'] {
	height: auto;
	width: auto;
	margin-right: 7px;
}

input[type='checkbox']:not([disabled]) {
	cursor: pointer;
}

input[type='checkbox']:not([disabled]) +label {
  	cursor: pointer;
}

input[type='checkbox'][disabled] +label {
  	opacity: 0.75;
}

.question {
	font-size: 24px;
	margin-bottom: 10px;
}

.answer * {
	font-size: 18px;
	line-height: 25px;
}

.answer {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 30px;
}

.form_links_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-bottom: 5px;
}

.form_link {
	font-size: 20px;
	font-weight: lighter;
	opacity:0.75;
}

.form_link:hover {
	color: black;
	cursor: pointer;
	opacity:0.8;
	text-decoration:underline;
}

.form_section_div {
	margin-bottom: 20px;
}

.form_flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.currency_inputs_div:first-child {
	border-top: 2.5px solid;
}

.currency_input_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-style:solid;
	border-width: 0 2.5px 2.5px 2.5px;
	padding: 15px;
}

.currency_input_right_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
}

.trash_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 25px;
}

.trash_div:hover {
	cursor: pointer;
}

.trash_div_disabled {
	opacity: 0.25;
}

.trash_div_disabled:hover {
	cursor: auto;
}

.trash_img {
	width: 25px;
	height: 25px;
}

.add_currency_div {
	text-align: center;
	margin: 20px;
}

.add_currency_span {
	color: blue;
}

.add_currency_span:hover {
	cursor: pointer;
	text-decoration:underline;
}

.passphrase_input_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 20px 20px 0px 20px;
}

.passphrase_warn_div {
	color: red;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.passphrase_input {
	width: 100%;
	border: 2.5px solid;
	padding: 5px;
	margin: 3px 0 3px 0px;
}

.passphrase_config_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 7px 0px 7px 0px;
}

.bip38_checkbox_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.show_passphrase_checkbox_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
}

.split_input_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	margin: 20px 20px 0px 20px;
	-ms-flex-pack: center;
	justify-content: center;
}

.split_qr {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.split_lines_3 {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.split_num_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 10px;
	max-width: 115px;
}

.split_num_label_top {
	text-align: center;
	padding-bottom: 10px;
	max-width: 115px;
}

.split_num_label_bottom {
	text-align: center;
	padding-top: 10px;
	max-width: 115px;
}

.split_lines_2 {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.split_min_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 10px;
	width: 115px;
}

.split_min_label_top {
	text-align: center;
	padding-bottom: 10px;
}

.split_min_label_bottom {
	text-align: center;
	padding-top: 10px;
}

.form_generate_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	width: 100%;
	-ms-flex-pack: center;
	justify-content: center;
}

.form_generate_btn {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	height: 70px;
	width: 225px;
	background-color: rgb(76, 178, 29);
	color: white;
	font-size:24px;
	margin-bottom: 25px;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form_generate_btn:hover {
	cursor: pointer;
	background-color: rgb(90, 215, 50);
}

.form_generate_btn:active {
	background-color: rgb(55, 160, 30);
}

.form_generate_btn_disabled {
	color: black;
	background-color: grey;
}

.form_generate_btn_disabled:hover {
	background-color: grey;
	cursor: auto;
}

.form_generate_btn_disabled:active {
	background-color: grey;
}

.form_input_error_div {
	border-color: red !important;
    outline: none;
    box-shadow: 0 0 10px red;
}

.red_warning {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: bold;
	color: #ff3333;
	padding: 20px;
	text-align: center;
}

.title {
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
}

.donate_left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.donate_right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.donate_left_qr {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.donate_right_qr {
	width: 100px;
	height: 100px;
	margin-left: 10px;
}

.donate_label_address {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.donate_left_logo_label {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.donate_right_logo_label {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.donate_logo {
	height: 35px;
	width: 35px;
}

.donate_label {
	padding-left: 7px;
}

.donate_label, .donate_label * {
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.donate_label > a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.donate_left_address {
	font-size: 18px;
	font-family: monospace;
	word-break: break-all;
	padding-top: 5px;
}

.donate_right_address {
	font-size: 18px;
	font-family: monospace;
	word-break: break-all;
	padding-top: 5px;
	text-align: right;
}

.recover_page {
	padding: 0;
	min-height: 700px;
}

.recover_filler {
	height: 100px;
}

.recover_div {
	background-color: rgb(17, 119, 184);
}

.recover_tabs_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
}

.recover_tab_div {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	padding: 20px;
	color: white;
	font-size: 24px;
	background-color: rgb(122, 213, 229);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.recover_tab_div:hover {
	cursor: pointer;
}

.active_tab {
	background-color: rgb(17, 119, 184);
}

.recover_content_div {
	padding: 25px 50px 25px 50px;
}

.recover_warning_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	padding: 8px;
	margin-bottom: 15px;
	text-align: center;
	background-color: rgb(247, 185, 43);
	border: 2.5px solid black;
	font-size: 24px;
	-ms-flex-pack: center;
	justify-content: center;
}

.recover_warning_div_icon {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.recover_drag_drop {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	background-color: white;
	padding: 30px;
	border: 2.5px solid black;
	-ms-flex-pack: center;
	justify-content: center;
}

.inner_outline {
	outline: 3px dotted black;
	outline-offset: -10px;
}

.drag_drop_img {
	width: 150px;
	height: 150px;
	margin-right: 60px;
}

.drag_drop_text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.drag_drop_label {
	font-size: 30px;
	font-weight: bold;
}

.drag_drop_browse {
	font-size: 20px;
	color: rgb(21, 121, 185);
}

.drag_drop_browse:hover {
	cursor: pointer;
}

.recover_selector_container {
	width: 100%;
	height: 62px;
	position: relative;
}

#recover_selector, .recover_selector_disabler {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.recover_selector_disabler {
	z-index: 10;
	height: 100%;
}

.disabled_text {
	color: grey;
}

.recover_textarea {
	margin-top: 10px;
	width: 100%;
	height: 115px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: monospace;
	border: 2.5px solid black;
}

.recover_button, .recover_view_button {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	height: 50px;
	font-size: 28px;
	color: white;
	background-color: rgb(55, 218, 44);
	border: 2.5px solid black;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.recover_button:hover, .recover_view_button:hover {
	cursor: pointer;
	background-color: rgb(60, 240, 60);
}

.recover_button:active, .recover_view_button:active {
	background-color: rgb(40, 200, 40);
}

.recover_view_button {
	margin-bottom: 15px;
}

.recover_imported_pieces {
	margin-top: 15px;
	padding: 5px;
}

.recover_file_imported_piece {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	padding: 5px;
}

.recover_text_imported_piece {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	font-size: 20px;
	font-family: monospace;
	padding: 5px;
}

.recover_imported_icon {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.recover_imported_trash {
	width: 20px;
	height: 20px;
	margin-left: auto;
}

.recover_imported_trash:hover {
	cursor: pointer;
}

.recover_controls {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.recover_control_link_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	width: 200px;
	-ms-flex-pack: center;
	justify-content: center;
}

.recover_control_link {
	font-size: 20px;
	color: white;
}

.recover_control_link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.recover_decryption_div {
	margin-bottom: 15px;
}

.recover_decrypt_label {
	font-size: 30px;
	color: white;
	margin-bottom: 15px;
}

.recover_passphrase_input {
	width: 100%;
	padding: 18px;
	margin: 0 0 10px 0;
	border: 2.5px solid black;
}

.recover_decrypt_controls {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	margin-top: 20px;
	-ms-flex-pack: center;
	justify-content: center;
}

.recover_progress_div {
	height: 50px;
}

.export_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 971px;
	-webkit-text-size-adjust: 100%;
}

.export_progress_div {
	width: 100%;
	height: 50px;
}

.export_header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgb(17, 119, 184);
	width: 100%;
	padding: 10px;
}

.export_buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	margin: 10px;
	-ms-flex-pack: center;
	justify-content: center;
}

.export_button {
	background-color: white;
	color: black;
	margin: 0 10px 0 10px;
	padding: 5px 20px 5px 20px;
	border: 2.5px solid black;
	font-size: 28px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.export_button:hover {
	cursor: pointer;
	background-color: #EBEDEF;
}

.export_button:active {
	background-color: #ABB2B9;
}

.export_button_disabled {
	background-color: white;
	color: grey;
	margin: 0 10px 0 10px;
	padding: 5px 20px 5px 20px;
	border: 2.5px solid black;
	font-size: 28px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.export_checkboxes {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	margin: 10px;
	-ms-flex-pack: center;
	justify-content: center;
}

.export_checkbox {
	width: 25px;
	height: 25px;
	margin-right: 1px;
}

.export_checkbox_label {
	color: white;
	font-size: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#paginator {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	margin: 10px 0 5px 0;
	-ms-flex-pack: center;
	justify-content: center;
}

.export_piece_selection_label {
	color: white;
}

.export_pieces_div {
	background-color: white;
	padding: 25px;
}

.piece_div {
	width: 750px;
}

.piece_page_div {
	margin-bottom: 50px;
	page-break-inside: avoid;
	page-break-after: always;
}

.piece_page_header_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center; -ms-flex-pack : center;
	justify-content : center;
	padding: 0 15px 5px 15px;
	-ms-flex-pack: center;
	justify-content: center;
}

.piece_page_header_left {
	width: 150px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.piece_page_header_logo {
	width: 150px;
}

.piece_page_header_right {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 150px;
	margin-left: auto;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
}

.key_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	height: 128px;
	box-sizing: border-box;
	padding: 7px 7px 7px 7px;
	border: 2px solid;
	border-color: green;
	border-top: none;
}

.key_div_qr {
	width: 90px;
	height: 90px;
}

.key_div_qr_omitted {
	width: 90px;
	height: 90px;
	border: solid thin;
}

.key_div_left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	align-items: flex-start;
	-ms-flex-align: flex-start;
	-webkit-align-items: flex-start;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.key_div_center {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 7px 0 7px;
	position: relative;
}

.key_div_center_title {
	font-size: 13px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.key_div_left_label {
	font-weight: bold;
	font-size: 14px;
}

.key_div_left_value {
	padding-right: 5px;
	font-size: 13px;
	font-family: monospace;
	word-break: break-all;
	z-index: 1000;
}

.key_div_currency {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.key_div_currency_logo {
	width: 29px;
	height: 29px;
}

.key_div_currency_label {
	font-weight: bold;
	font-size: 15px
}

.key_div_right_label {
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	margin-top: -20px;
}

.key_div_right_value {
	padding-left: 5px;
	font-size: 13px;
	text-align: right;
	font-family: monospace;
	line-height: 14px;
}

.key_div_right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media print {
	body {
		min-width: 0px;
		display: unset;
	}
	body * {
		visibility: hidden;
	}
	.export_tabs {
		display: none;
	}
	.export_div {
		display: unset;
	}
	.export_progress_div {
		display: none;
	}
	.export_header {
		display: none;
	}
	.notice_div_container {
		display: none;
	}
	.export_pieces_div, .export_pieces_div * {
		visibility: visible;
	}
	.export_pieces_div {
		margin: 0;
		padding: 0;
	}
	.piece_page_div {
		margin: 0px;
		padding: 0px;
	}
	.piece_div {
		display: block !important
	}
}

.hidden {
	display: none;
}

.environment_checks_div {
	border: 2.5px solid;
}

.environment_check_div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 10px;
}

.notice_div_container {
	width: 100%;
}

.notice_div {
	width: 100%;
}

.notice_bar:first-child {
	border-top: 0px;
}

.notice_bar {
	height:45px;
	width:100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-top: 1px solid white;
}

.notice_bar_content {
	width: 100%;
	text-align: center;
}

.notice_bar_left {
	width:200px;
}

.notice_bar_right {
	width:200px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.notice_bar_dismiss {
	font-weight: lighter;
	color: blue;
	font-size: 18px;
}

.notice_bar_dismiss:hover {
	cursor: pointer;
	text-decoration: underline;
}

.notice_bar_pass {
	background-color: green;
}

.notice_bar_fail {
	background-color: red;
}

.notice_bar_warn {
	background-color: rgb(247, 185, 43);
}

.copyable:hover {
	cursor: pointer;
}