<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>
<IfModule mod_expires.c>
ExpiresActive On
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType image/svg+xml .svg
ExpiresByType application/vnd.ms-fontobject "access 3 days"
ExpiresByType application/x-font-ttf "access 3 days"
ExpiresByType application/x-font-opentype "access 3 days"
ExpiresByType application/x-font-woff "access 3 days"
ExpiresByType image/svg+xml "access 3 days"
ExpiresByType text/html "access 3 days"
ExpiresByType text/css "access 3 days"
ExpiresByType text/x-javascript "access 3 days"
ExpiresByType application/javascript "access 3 days"
ExpiresByType application/x-javascript "access 3 days"
ExpiresByType image/gif "access 3 days"
ExpiresByType image/png "access 3 days"
ExpiresByType image/jpg "access 3 days"
ExpiresByType image/jpeg "access 3 days"
ExpiresByType image/gif "access 3 days"
ExpiresByType application/pdf "access 3 days"
ExpiresByType application/x-shockwave-flash "access 3 days"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 3 days"
</IfModule>
